<web-app version="4.0" id="WebApp_ID" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<servlet>

<servlet-name>abc</servlet-name>

<servlet-class>tcp.Login</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>abc</servlet-name>

<url-pattern>/add</url-pattern>

</servlet-mapping>

<servlet>
<servlet-name>CreateCustomerDb</servlet-name>
<servlet-class>tcp.CreateCustomerDb</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CreateCustomerDb</servlet-name>
<url-pattern>/CreateCustomerDb</url-pattern>
</servlet-mapping>

<servlet>

<servlet-name>DepositMoney</servlet-name>

<servlet-class>tcp.DepositMoney</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>DepositMoney</servlet-name>

<url-pattern>/DepositMoney</url-pattern>

</servlet-mapping>


<servlet>
<servlet-name>UserRegistration</servlet-name>
<servlet-class>tcp.UserRegistration</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UserRegistration</servlet-name>
<url-pattern>/UserRegistration</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>Withdraw</servlet-name>

<servlet-class>tcp.Withdraw</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Withdraw</servlet-name>

<url-pattern>/Withdraw</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>Transfer</servlet-name>

<servlet-class>tcp.Transfer</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>Transfer</servlet-name>

<url-pattern>/Transfer</url-pattern>

</servlet-mapping>
<servlet>
<servlet-name>DelteUser</servlet-name>
<servlet-class>tcp.DelteUser</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DelteUser</servlet-name>
<url-pattern>/DelteUser</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>DeleteEmp</servlet-name>
<servlet-class>tcp.DeleteEmp</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteEmp</servlet-name>
<url-pattern>/DeleteEmp</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>UpdataEmployeeDetails</servlet-name>
<servlet-class>tcp.UpdataEmployeeDetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdataEmployeeDetails</servlet-name>
<url-pattern>/UpdataEmployeeDetails</url-pattern>
</servlet-mapping>

<servlet>

<servlet-name>UpdateUser</servlet-name>

<servlet-class>tcp.UpdateUser</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>UpdateUser</servlet-name>

<url-pattern>/UpdateUser</url-pattern>

</servlet-mapping>


<servlet>
<servlet-name>Transaction</servlet-name>
<servlet-class>tcp.Transaction</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Transaction</servlet-name>
<url-pattern>/Transaction</url-pattern>
</servlet-mapping>



<servlet>  
    <description></description>  
    <servlet-name>LogoutServlet</servlet-name>  
    <servlet-class>tcp.LogoutServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LogoutServlet</servlet-name>  
    <url-pattern>/LogoutServlet</url-pattern>  
  </servlet-mapping>  
</web-app>